<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="index, follow">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="author" content="https://github.com/spapas/">
  <title>{% block page_title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='spectre.min.css') }}">

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>


</head>
<body>
  <header class="navbar mx-2 my-2">
    <div class="navbar-primary my-2 mx-2">
      <a href="{{ url_for('home_view') }}" class="navbar-brand mx-2">Feature Requests</a>
      <a href="{{ url_for('feature_requests_view') }}" class="btn btn-link">List</a>
      <a href="{{ url_for('feature_requests_create') }}" class="btn btn-link">Create</a>
      <a href="#" class="btn btn-link">About</a>
    </div>
  </header>

  <div class="container grid-xl">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="toast toast-primary">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
  </div>
  {% block extra_script %}{% endblock %}
</body>

</html>
