{% from "_formhelpers.html" import render_field, render_select_field %}
{% extends "base.html" %}
{% block page_title %}Edit feature request{% endblock %}
{% block content %}
<div class="column col-6 col-xs-12">
  {% if feature_request %}
      <h1>Edit Feature Request: {{ feature_request.id }}</h1>
  {% else %}
      <h1>Add Feature Request</h1>
  {% endif %}
  <form method='POST'>
      {{ render_field(form.title) }}
      {{ render_field(form.description) }}
      {{ render_select_field(form.client) }}
      {{ render_field(form.client_priority) }}
      {{ render_field(form.target_date) }}
      {{ render_select_field(form.product_area) }}
    <input type='submit' value='Ok' class='btn btn-primary' >
    <a href='{{ url_for("feature_requests_view") }}' class='btn btn-default'>Return</a>
  </form>
</div>
{% endblock %}

{% block extra_script %}
  <script src="{{ url_for('static', filename='cleave.min.js') }}"></script>
  <script>
  document.addEventListener("DOMContentLoaded", function() {
    var cleave = new Cleave('#target_date', {
      date: true,delimiter: '-',
      datePattern: ['Y', 'm', 'd']
    });
  });
  </script>
{% endblock %}
