{% extends "base.html" %}
{% block page_title %}Feature requests{% endblock %}
{% block content %}

<h1>Feature requests <a href='{{ url_for('feature_requests_create',) }}'>+</a></h1>
{% if commands|length > 0 %}
    <table>
        <thead>
            <tr><th>Title</th><th>Date</th><th>Actions</th></tr>
        </thead>
        <tbody>
            {% for c in commands %}
                <tr>
                    <td>{{ c.title }}</td>
                    <td>{{ c.target_date }}</td>
                    <td><a href='{{ url_for('feature_requests_create', feature_request_id=c.id) }}'>Update</a></td>
                    <td><a href='{{ url_for('feature_requests_create', feature_request_id=c.id) }}'>Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    No commands found.
{% endif %}
<a href='{{ url_for("home_view") }}'>Return</a>
{% endblock %}
